@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
body::-webkit-scrollbar {
  display: none;
}

.swiper-pagination {
  width: 54px;
  height: 6px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

.active-bullet {
  background-color: #99b17b !important;
}

.default-bullet {
  background-color: #e6e6e6;
}
